* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #060816 0%, #0b1020 40%, #121d38 100%);

  min-height: 100vh;

  font-family: "Segoe UI", sans-serif;

  color: white;

  overflow-x: hidden;
}

body::before {
  content: "";

  position: fixed;

  inset: 0;

  background-image: radial-gradient(
    rgba(0, 255, 255, 0.08) 2px,
    transparent 2px
  );

  background-size: 50px 50px;

  animation: moveGrid 20s linear infinite;

  pointer-events: none;
}

@keyframes moveGrid {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(50px);
  }
}

#root {
  min-height: 100vh;
}
